mixin cme-letter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cme-letter
    .row
      .container
        .col-xs-12.col-sm-7
          h3 Rewind/Fast Forward
          p.
            Mark Twain said that “History doesn’t repeat itself, but it often rhymes”. My late father, Brian Monieson (BPM) ran for the CME Board of Governors in 1982 with this letter entitled <b><i>Close Encounters of the Third Kind</i></b>.<br>The letter began with the following:
          p.
            Coming Soon! From the same people who gave you the hit smash:<br>N.Y. STOCK EXCHANGE SEATS PLUNGE FROM $540,000 TO $34,000<br>GOODBODY BROKERAGE FILES FOR BANKRUPTCY<br>BROKERAGE INCOME DROPS 55% UNDER NEGOTIATED COMMISSIONS<br>MERRIL LYNCH WILL MAKE THEIR OWN MARKETS<br>ONE-MINUTE TIME STAMPING REGULATION STRANGLING OUR FIRMS
          p.
            Sound familiar? Competition, consolidation, and regulation once again threaten our industry. With thirty years of trading experience and memberships on the CME, CBOT, NYMEX and COMEX this is a chart pattern I have seen before. With a nod to a current sci-fi blockbuster steeped in its own history, we must again awaken the force within that which is our membership. Together: 

        .col-xs-12-.col-sm-5
          img.portrait(src=baseUrl+"images/cme-letter/douglas-monieson-portrait.jpg" alt="Douglas Monieson Portrait")

    .row
      .container
        .col-xs-12.col-sm-6
          figure
            img(src=baseUrl+"images/cme-letter/sp-icon.jpg" width="125" class="icon")
          figcaption.
            We must introduce new products
          p.
             I built my career on new product innovation.  I am a founding member of the NASDAQ100 futures pit.  I have also been an active market maker in many exchange initiatives including Rolling Spot, Mexican IPC, and EuroS&P contracts.  We need to continue to expand our product suite and launch new products for our membership.


        .col-xs-12.col-sm-6
          figure
            img(src=baseUrl+"images/cme-letter/15-minutes-icon.jpg" width="105" class="icon")
          figcaption.
            We must build our base of liquidity providers
          p.
            As a second generation CME Group member and an active electronic trader, I understand the value of liquidity providers in our markets.   We must continue to recognize our largest providers, but also develop and nurture relationships with those groups and firms that are up and coming.

    .row
      .container
        .col-xs-12.col-sm-6
          figure.margin-top
            img(src=baseUrl+"images/cme-letter/euros-are-coming-icon.png" width="110" class="icon")
          figcaption.margin-top.
            We must expand our customer base
          p.
             As Chairman of the Board of Hyde Park Angels, the largest member-run angel group in the Midwest, I helped the CME Group Foundation build relationships with Cambridge University in London and Tsinghua University in China.  These relationships in turn provide research partners in Europe and Asia that can spearhead new product innovation and expand customer reach.


        .col-xs-12.col-sm-6
          figure.margin-top
            img(src=baseUrl+"images/cme-letter/pit-supervision-icon.jpg" width="175" class="icon")
          figcaption.margin-top.
            We must demand clarity around rules and regulations
          p.
            The biggest hurdle that our industry faces today is the broad-based interpretation of rules by our regulators that can impact the liquidity of our markets.  As an actively engaged member of the CME PAC Committee since 2006, I continue to watch our voices gain attention in Washington. Also, I have worked with several FinTech startups that strive to provide new alternatives to managing compliance and regulatory obligations and streamlining post-trade processing.


    .row.margin-top
      .container
        .col-xs-12.col-sm-6
          
          p.
            When considering the opportunity to run for the Board of Directors for the CME Group, I was told this would be a popularity contest that favors the incumbents.   To be elected I would have to make phone calls, give campaign trinkets, get references, and write personal messages. Nonsense. 

          p.
            Our exchanges and its diverse membership understand that to successfully respond to industry challenges, new voices must be heard.  We can no longer rest on our laurels. I am deeply committed to our exchange and ask you to support an old name and new face to serve as your elected Class B-1 Director.


          p(style="margin-bottom: 15px;").
            Douglas Monieson (DMON)
          img(src=baseUrl+"images/cme-letter/douglas-monieson-signature.png" alt="Douglas Monieson Signature" width="341")


        .col-xs-12-.col-sm-6
          img(src=baseUrl+"images/cme-letter/family-traders.jpg" alt="Douglas Monieson Family Traders" class="family-portrait")