mixin cme-letter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cme-letter
    .row
      .container
        .col-xs-12.col-sm-7
          //- h3 Rewind... Fast Forward
          p.
            Dear Class B-1 Shareholder,
          p.
            My name is Douglas Monieson and I am running to represent you as your Class B-1 director. CME Group has always been a part of my life. I am proud to be a second-generation member of CME Group and an active trader of our markets for over twenty-five years. I feel that I offer many insights that will not only add to the continued success of CME Group, but also assist as our industry faces numerous challenges.
          p.
            2016 was a great year for CME Group. Volume and open interest hit record levels and following the U.S. Presidential election over forty-four million contracts were traded, including nineteen million during Asian trading hours alone. This highlights CME Group’s role as a proven leader to trade and manage risk and it also highlights the speed in which markets react to change.
          p.
            With faster and more efficient markets, our industry is faced with shrinking margins, rising costs and reduced profitability. In order to meet these challenges, CME Group must create opportunities for both our existing and future traders and customers, and to do so, we must embrace technology and foster innovation. I have a unique perspective as both an exchange innovator and active investor.


        .col-xs-12-.col-sm-5
          img.portrait(src=baseUrl+"images/cme-letter/douglas-monieson-portrait.jpg" alt="Douglas Monieson Portrait")


    //- .row
    //-   .container
    //-     .col-xs-12.col-sm-6
    //-       figure
    //-         img(src=baseUrl+"images/cme-letter/sp-icon.jpg" width="125" class="icon")
    //-       figcaption.
    //-         We must introduce new products
    //-       p.
    //-          I built my career on new product innovation.  I am a founding member of the NASDAQ100 futures pit.  I have also been an active market maker in many exchange initiatives including Rolling Spot, Mexican IPC, and EuroS&P contracts.  We need to continue to expand our product suite and launch new products for our membership.


    //-     .col-xs-12.col-sm-6
    //-       figure
    //-         img(src=baseUrl+"images/cme-letter/15-minutes-icon.jpg" width="105" class="icon")
    //-       figcaption.
    //-         We must build our base of liquidity providers
    //-       p.
    //-         As a second generation CME Group member and an active electronic trader, I understand the value of liquidity providers in our markets.   We must continue to recognize our largest providers, but also develop and nurture relationships with those groups and firms that are up and coming.

    //- .row
    //-   .container
    //-     .col-xs-12.col-sm-6
    //-       figure.margin-top
    //-         img(src=baseUrl+"images/cme-letter/euros-are-coming-icon.png" width="110" class="icon")
    //-       figcaption.margin-top.
    //-         We must expand our customer base
    //-       p.
    //-          As Chairman of the Board of Hyde Park Angels, one of the largest member-run angel groups in the Midwest, I helped the CME Group Foundation build relationships with Cambridge University in London and Tsinghua University in China.  These relationships in turn provide research partners in Europe and Asia that can spearhead new product innovation and expand customer reach.


    //-     .col-xs-12.col-sm-6
    //-       figure.margin-top
    //-         img(src=baseUrl+"images/cme-letter/pit-supervision-icon.jpg" width="175" class="icon")
    //-       figcaption.margin-top.
    //-         We must demand clarity around rules and regulations
    //-       p.
    //-         The biggest hurdle that our industry faces today is the broad-based interpretation of rules by our regulators that can impact the liquidity of our markets.  As an actively engaged member of the CME PAC Committee since 2006, I continue to watch our voices gain attention in Washington. Also, I have worked with several FinTech startups that strive to provide new alternatives to managing compliance and regulatory obligations and streamlining post-trade processing.

    .row
      .container
        .col-xs-12
         
          ul
            li.
              <strong><u>Tradition:</u></strong> I am a founding member of the NASDAQ100 pit and an early supporter of side-by-side electronic trading.  I work closely with the CME Group Foundation in providing education and academic research to the futures space.

            li.
              <strong><u>Innovation:</u></strong> I am Chairman Emeritus of Hyde Park Angels (HPA), the largest member-run, early-stage investment group in the Midwest. As an active member of the Fintech angel community, I was selected to the committee for the FIA Expo “Innovation Pavilion,” which presented 18 startups that are providing forward-thinking solutions for the industry. These new fintech companies are part of a wave of innovation sweeping our industry and reflect the kind of forward thinking that CME Group needs to prepare for the future.  

            li.
              <strong><u>Investment:</u></strong> I am an active participant in Chicago’s Fintech ecosystem as an investor (e.g., Ascent, a regulatory compliance workflow suite) and an advisor (e.g., TopStepTrader, a software company that is bringing new retail investors back to our industry). New startups like these are reducing costs and bringing new participants into our industry.


    .row
      .container
        .col-xs-12.col-sm-6

          p.
            In the face of an increasingly complex world, CME Group has the benefit of a tradition of strong values to guide our way forward. The remarkable success of the company stems in large part from you, its members, and the shared values of open access, trust, and innovation. Please vote for me to represent you as a Class B-1 Director so that I can carry these values forward as a member of the CME Group Board of Directors.



          p(style="margin-bottom: 15px;").
            Douglas Monieson (DMON)
          img(src=baseUrl+"images/cme-letter/douglas-monieson-signature.png" alt="Douglas Monieson Signature" width="341")


        .col-xs-12-.col-sm-6
          img(src=baseUrl+"images/cme-letter/family-traders.jpg" alt="Douglas Monieson Family Traders" class="family-portrait")


      .container
        .row
          .col-xs-12.col-sm-offset-1.col-sm-10
            <br>
            <br>
            <br>
            <br>
            <br>
            h5.text-center(style="margin-bottom: 0px;") Your Vote is Important!  855-928-4491

        .row
          .col-xs-12
            p(style="margin-bottom: 0px;").
              Broadridge, CME Group’s inspector of election, is providing Class B shareholders who cannot locate their 16-digit control number the ability to cast their votes over the phone by calling the number above. 

