mixin cme-letter(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .cme-letter
    .row
      .container
        .col-xs-12.col-sm-7
          h3 The Force Awakens
          p.
            Mark Twain said that “History doesn’t repeat itself, but it often rhymes”. My late father, Brian Monieson (BPM) ran for the CME Board of Governors in 1982 with this letter entitled <b><i>Close Encounters of the Third Kind</i></b>.<br>The letter began with the following:
          p.
            Coming Soon! From the same people who gave you the hit smash:<br>N.Y. STOCK EXCHANGE SEATS PLUNGE FROM $540,000 TO $34,000<br>GOODBODY BROKERAGE FILES FOR BANKRUPTCY<br>BROKERAGE INCOME DROPS 55% UNDER NEGOTIATED COMMISSIONS<br>MERRIL LYNCH WILL MAKE THEIR OWN MARKETS<br>ONE-MINUTE TIME STAMPING REGULATION STRANGLING OUR FIRMS
          p.
             Sound familiar? Competition, Consolidation, and Regulation once again threaten our industry.  With a nod to a current sci-fi blockbuster steeped in its own history, we must again awaken the force within that which is our membership. 

        .col-xs-12-.col-sm-5
          img.portrait(src=baseUrl+"images/cme-letter/douglas-monieson-portrait.jpg" alt="Douglas Monieson Portrait")

    .row
      .container
        .col-xs-12.col-sm-6
          figure
            img(src=baseUrl+"images/cme-letter/sp-icon.jpg" width="125" class="icon")
          figcaption.
            We must introduce new products
          p.
            I built my career on new product innovation.  I was a founding member of the NASDAQ100 futures pit. We need to continue to expand our product suite and launch new products for our membership.

        .col-xs-12.col-sm-6
          figure
            img(src=baseUrl+"images/cme-letter/15-minutes-icon.jpg" width="105" class="icon")
          figcaption.
            We must build our base of liquidity providers
          p.
            As a member and active electronic trader on the CME, CBOT, NYMEX, and COMEX for the last 25 years, I understand the value of liquidity providers in our markets. We must continue to recognize our largest providers but also develop and nurture relationships with those groups and firms that are up and coming.

    .row
      .container
        .col-xs-12.col-sm-6
          figure.margin-top
            img(src=baseUrl+"images/cme-letter/euros-are-coming-icon.png" width="110" class="icon")
          figcaption.margin-top.
            We must expand our customer base
          p.
             As Chairman of the Board of Hyde Park Angels, the largest member run angel group in the Midwest, I helped CME Ventures build relationships to Cambridge University in London and Tsinghua University in China. These relationships provide research partners in Europe and Asia that can spearhead new product innovation and customer reach in the field of Alternative Finance.

        .col-xs-12.col-sm-6
          figure.margin-top
            img(src=baseUrl+"images/cme-letter/pit-supervision-icon.jpg" width="175" class="icon")
          figcaption.margin-top.
            We must demand clarity around rules and regulations
          p.
            The biggest hurdle that our industry faces today is broad based interpretation of our rules by our regulators that can ultimately cripple the liquidity of our markets. I am an active member of the CME PAC Committee. I am also working with Fin tech startups like Ascent, a cloud based compliance tool to help financial companies manage their compliance and regulatory obligations.


    .row.margin-top
      .container
        .col-xs-12.col-sm-6
          
          p.
            When I was considering running for the Board of Directors of the CME I was told this would be a popularity contest that favors the incumbents. To be elected I would have to make phone calls, give campaign trinkets, get references, and write personal messages. Nonsense.
          p.
            Our exchanges and its diverse membership know that to respond to industry challenges, new voices must be heard.
          p.
             We can no longer rest on our laurels.I am deeply committed to our exchange and ask you to support an old name, new face to represent you on the CME Board of Directors as a B1 representative. 

          p.
            Douglas Monieson (DMON)
          img(src=baseUrl+"images/cme-letter/douglas-monieson-signature.png" alt="Douglas Monieson Signature" width="341")


        .col-xs-12-.col-sm-6
          img(src=baseUrl+"images/cme-letter/family-traders.jpg" alt="Douglas Monieson Family Traders" class="family-portrait")