mixin header(spec)
  - spec = spec || {}
  - spec.position = spec.position || ''
  - spec.__class = spec.__class || ''


  header.row.main-navigation(class="#{spec.position}")
    .container
      
      .logo
        a(href=baseUrl) Doug Monieson

      nav.desktop-nav
        ul
          li
            a(href=baseUrl + "trading-experience/") Trading Experience
          li
            a(href=baseUrl + "hyde-park-angels/") Hyde Park Angels
          li
            a(href=baseUrl + "board-experience") Board Experience
          li
            a(href=baseUrl + "alternative-finance") Alternative Finance
          li
            a(href=baseUrl + "contact/" class="contact-btn") Contact

      nav.mobile-nav
        a(href=baseUrl)
          img(src=baseUrl + "images/header/menu-icon.png")
      
      ul.mobile-nav-popup.row
        a#close-btn X
        .col-xs-offset-0.col-xs-12.col-sm-offset-2.col-sm-8
          li
            a(href=baseUrl) Home

          li
            a(href=baseUrl + "trading-experience/") Trading Experience

          li
            a(href=baseUrl + "hyde-park-angels/") Hyde Park Angels

          li
            a(href=baseUrl + "board-experience") Board Experience

          li
            a(href=baseUrl + "alternative-finance") Alternative Finance


          li
            a(href=baseUrl + "contact/" class="contact-btn") Contact